*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100vh;
    position: relative;
}
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
.logo {
    font-size: 50px;
    letter-spacing: 5px;
    color: #222f3e;
}

.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
}
.menu a:last-child{
    background-color: #de3031;
    border-radius: 8px;
    letter-spacing: 2px;
    color: white;
}

.my-text{
    max-width: 500px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.my-text h1{
    font-size: 3em;
    color: #222f3e;
    font-family: 'Crimson Text', serif;
}
.my-text p{
    font-size: 20px;
    margin-bottom: 30px;
}
.my-text a{
    text-decoration: none;
    background: #01a3a4;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 20px;
    font-family: serif;
    border-radius: 8px;
}
#more{
    background: transparent;
    color: #01a3a4;
    box-shadow: 2px 0px 0px gray;
}
.icon{
    position: fixed;
    top: 50%;
    left: 5px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}
.icon i{
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0px;
    background: #01a3a4;
}
.icon i:hover {
    background: transparent;
    transition: 0.4s;
    border: 1px solid black;
    color: black;
}
.box {
    width: 60%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 234, 167, 0.7);
    z-index: -2;
}
#siar{
    width: 450px;
    height: 95%;
    position: absolute;
    padding-top: 10px;
    right: 10%;
    top: 0;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    z-index: -1;
}
.section-b{
  background-color: #e2e1e0;
  padding-top: 1px; 
  display: inline-flex;
  width: 100%;

}
.box1 {
 width: 350px;
 height: 500px;
 background-color: #fff;
 display: inline-block;
 position: relative;
 margin: 15px;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
             0 1px 3px rgba(0, 0, 0, 0.12);
transition: all 0.3s cubic-bezier(.25, .8,);
margin-top: 50px;  
left: 15%;
}
.box1:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);

}
.photo{
    width: 350px;
    height: 250px;
}
.projects{
    max-width: 200px;
    position: absolute;
    text-align: center;
    left: 48%;
    text-decoration: none;
    background: #01a3a4;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 20px;
    font-family: serif;
    border-radius: 8px;
}
#projects:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.22);            
}
#box1 p{
    padding: 2px 2px 2px 2px;
    margin: 2px;
    font-size: 20px;
}
#box1 h1{
    padding: 2px;
    margin: 2px;
    font-size: 25px;
}